* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubunut, Cantarell, "One Sans", "Helvetica Neue", "sans-serif";
  background: #f7f7f7;
  color: #333333;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.book h1 {
  margin: 0.5rem 0 0 0;
}

.book img {
  margin: auto;
  max-height: 280px;
}

.book h4 {
  color: #617d98;
  font-size: 1.1rem;
  margin-top: 0.25rem;
}
